@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --text-color: black;
}

body {
  background-color: white;
  color: black;
  --sb-track-color: linear-gradient(to right, #da619c, #ff844a), #0a11b5;
  --sb-thumb-color: white;
  --sb-size: 2px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}


.dark body {
  background-image: url("../app//assets//darkbg.png");
  color: white;
  background-color: #171717;
}
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
